.bodyForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    position: relative;
    background: #131515;
}


.Header{
    align-items: center; 
    background-color: #131515;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 55%);
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px;
    height: 10vh;
    width: 100vw;
    position: fixed;
    z-index: 10000;
    top: 0;
    display: flex;
    justify-content: space-between;
}

.imageContainer{
    margin-left: 1rem;
}

.formTitle{
    color: #3dae2b;
    margin-right: 1rem;
    cursor: pointer;
    font-size: 1.7rem;

}

.form{
    
    position: inherit;
    width: 100%;
    margin-bottom: 10vh;
    top: 10vh;
    border-radius: 15px;
    background: black !important;
}

.form > html >  body > div{
    background: #131515 !important;
}

.footer{
    position: relative;
    width: 100%;
    background: #131515;
    min-height: 25vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5rem;
}

.footerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactButtons{
    display: flex;
    justify-content: space-between;
    width: 100px;
    font-size: 2rem;
    color: #3dae2a;
}